<!-- Meta -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index, follow">
<meta name="author" content="Alexander499">
<meta name="keywords" content="Speedometer, Zpeedometer, Car, Driving, Altitude, Compass">
<meta name="description" content="">

<!-- Open Graph Protocol Meta -->
<meta property="og:title" content="Zpeedometer">
<meta property="og:description" content="Elegant offline GPS speedometer app showing speed, altitude, heading & distance.">
<meta property="og:url" content="https://alexander499.de/p/zpeedometer">
<meta property="og:type" content="website">
<!-- Preview image (absolute URL, 1200x630px) -->
<meta property="og:image" content="https://zpeedometer-website.netlify.app/assets/images/title-wavy.svg">
<meta property="og:site_name" content="Zpeedometer">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:locale" content="en_US">

<!-- Tab, Styles, Scripts -->
<title>Zpeedometer • {{ if .IsHome }}Home{{ else }}{{ .Title }}{{ end }}</title>
<link rel="shortcut icon" href="/assets/images/favicon.svg">
<link rel="stylesheet" href="/styles/compiled/style.css">
<link rel="stylesheet" href="/styles/compiled/header.css">
<link rel="stylesheet" href="/styles/compiled/footer.css">
<link rel="stylesheet" href="/styles/compiled/markdown.css">
<script src="https://unpkg.com/lucide@latest"></script>
<script defer src="/script.js"></script>
<noscript>Either you have disabled JavaScript or your browser doesn't support it. Get a new Browser (e.g. Google Chrome, Microsoft Edge, Safari, Mozilla Firefox, Opera).</noscript>