<header>
  <div>
    <div>
      <a href="/" class="logo">
        <img src="/assets/images/favicon.svg" alt="The Zpeedometer logo">&imped;peedometer
      </a>
      <div class="divider"></div>
    </div>
    <nav>
      <ul>
        <li id="featuresLink"><i data-lucide="puzzle"></i><span>Features</span></li>
        <li id="faqLink"><i data-lucide="info"></i><span>FAQ</span></li>
        <li><a href="/changelog"><i data-lucide="scroll-text"></i><span>Changelog</span></a></li>
      </ul>
    </nav>
    <a href="https://play.google.com/store/apps/details?id=com.alexander499.zpeedometer" target="_blank">
      <span>Get the app</span>
      <i data-lucide="smartphone"></i>
      <div class="qr-code">
        <img src="assets/images/qr-code.svg" alt="QR Code">
      </div>
    </a>
  </div>
</header>