main.markdown {
  padding: 24px;
  max-width: 960px;
  @media (width > 960px) { translate: calc(50vw - 50%); }

  h1, h2, h3, h4, h5, h6 { margin: 16px 0 8px; }
  h1 { font-size: 48px; }
  h2 { font-size: 24px; }
  h3 { font-size: 20px; }
  ul { margin-left: 24px; }
  a { color: orangered; }

  ul, ol {
    line-height: 1.5;
    list-style-type: unset;
  }

  hr {
    margin: 16px 0;
    border: none;
    border-bottom: 1px solid var(--text-tertiary);
  }

  @media (width <= 760px) {
    h1 { font-size: 40px; }
    h2 { font-size: 32px; }
    h3 { font-size: 24px; }
  }
}